html{
    height: 100%;
    width: 100%;
}

body{
    background-image: radial-gradient(circle, darkgray 2.5%, gray 7.5%, black 15%);
    font-family: 'Yantramanav', sans-serif, 'Questrial', sans-serif;
}

#menu {
    padding-top: 2.5%;
    cursor: pointer;
}

a {
    color: darkslateblue;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    width: 60px;
    height: 12px;
    background-color: cadetblue;
    margin: 6px 0;
    margin-left: 2.5%;
}

#carre {
    width: 3.75%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(45deg);
}

#carre1 {
    width: 7.5%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(42.5deg);
}

#carre2 {
    width: 15%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(40deg);
}

#carre3 {
    width: 22.5%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(37.5deg);
}

#carre4 {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(35deg);
}

#carre5 {
    width: 37.5%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(32.5deg);
}

#carre6 {
    width: 45%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(30deg);
}

#carre7 {
    width: 52.5%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(27.5deg);
}

#carre8 {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(25deg);
}

#carre9 {
    width: 67.5%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(22.5deg);
}

#carre10 {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid darkslateblue;
    opacity: 0.4;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(20deg);
}

nav.logic {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.logic h1 {
    color: cyan;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.logic p {
    color: white;
}

nav.creation {
    margin: auto;
    width: 50%;
    padding-top: 20%;
    text-align: justify;
}

nav.creation h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.creation p {
    color: white;
}

nav.choix {
    margin-top: 17.5%;
    font-size: 150%;
    text-shadow: 1px 1px darkslateblue;
    padding-top: 0;
    clear: both;
}

nav.vEtudiante {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.vEtudiante h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.vEtudiante p {
    color: white;
}

nav.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
}

a {
    text-decoration: none;
}

footer p {
    font-family: 'Yantramanav', sans-serif;
    display: inline-block;
    text-align: left;
    font-size: 200%;
}

#gauche {
    padding-left: 2.75%;
    float: left;
}

#droite {
    margin: 0;
    float: right;
    padding-right: 2.75%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 50%;
}